/* Estilo general de la web */
body {
  background-color: #1A1A1A;
  color: white;
  font-family:"Arial";
  font-size: 16px;
}

/* Para que los links tengan el mismo aspecto que el texto normal*/
a{
	color: white;
	text-decoration: none;
}
/* Al pasar el ratón por los links estos cambian de color */
a:hover{
	color: red;
}

.about{
  margin: 0 6% 0 6%;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap-reverse;
      -ms-flex-flow: row wrap-reverse;
          flex-flow: row wrap-reverse;

  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-item{
  text-align: center;
  width: 45%;
  min-width: 250px;

  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

.about-item p{
  margin: 10px;
  text-align: left;
}

.about-item img{
  max-width: 100%;
}
