/* Estilo general de la web */
body {
  background-color: #1A1A1A;
  color: white;
  font-family:"Arial";
  font-size: 16px;
}

/* Para que los links tengan el mismo aspecto que el texto normal*/
a{
	color: white;
	text-decoration: none;
}
/* Al pasar el ratón por los links estos cambian de color */
a:hover{
	color: red;
}

/* Para centras las tablas y el menú */
.centrado{
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

/* Para poner un texto en cursiva se usa éste identificador */
.cursivo{
	font-style: italic;
}
