<!DOCTYPE html>
<html>
  <head>
  	<title>{{ site.name }}</title>
    <link rel="stylesheet" type="text/css" href="files/main.css">
    <link rel="stylesheet" type="text/css" href="files/menu.css">
    <link rel="stylesheet" type="text/css" href="files/grid.css">
    <link rel="shortcut icon" href="files/favicon.ico" />
    <meta charset=" UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=0.8" />
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li class="menu-item"><a target="_self" href="index.html">Inicio</a></li>
        <li class="menu-item"><a target="_self" href="about.html">About</a></li>
      </ul>
    </nav>
    <br><br>
    {{ content }}
  </body>
</html>
